
<header id="header">
  <nav id="nav">
    <a id="logo" href="/ion">
      <img class="logo" src="/ion/images/logo-white.svg" />
    </a>
    <svg id="nav_toggle_icon"><use href="#menu-icon"></use></svg>
    <input id="nav_toggle" type="checkbox" onblur="this.checked = false;"/>
    <ul>
      <li>
        <a href="/ion/install-guide">
          <svg><use href="#guide-icon"></use></svg>
          Install Guide
        </a>
      </li>
      <li>
        <a href="/ion/explorer">
          <svg><use href="#network-icon"></use></svg>
          Network Explorer
        </a>
        <ul>
          <li>
            <a href="/ion/explorer/?view=search">
              <svg><use href="#magnifier-icon"></use></svg>
              DID Search
            </a>
            <a class="prerelease" href="/ion/explorer/?view=timeline">
              <svg><use href="#line-chart-icon"></use></svg>
              Timeline
            </a>
          </li>
        </ul>
      </li>
      <li>
        <a href="https://github.com/decentralized-identity/ion">
          <svg><use href="#github-icon"></use></svg>
          GitHub
        </a>
      </li>
    </ul>
  </nav>
</header>
