
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>ION - {{title if title else 'an open, public, permissionless decentralized identifier network'}}</title>

  <!-- <meta name="google-site-verification" content="8yJCkbG9ayv7Vbjgjk525YTGbDVCvUZ_Moviopr6f1M" /> -->
  <link rel="icon" href="/ion/images/favicon.ico" />
  <link rel="icon" type="image/png" href="/ion/images/favicon.png?r1">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap" rel="stylesheet">

  <link href="/ion/css/compiled/head.css" rel="stylesheet">
  {% for file in css %}
    <link href="/ion/css/{{file}}.css" rel="stylesheet" />
  {% endfor %}

  <script src="/ion/js/compiled/web-components.js" type="module"></script>

</head>