name: Build and Test

on: [pull_request]

jobs:
  any-pr:
    name: Build and test
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [10.15.3, 12]
    steps:
    - uses: actions/checkout@v2
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v1
      with:
        node-version: ${{ matrix.node-version }}
    - run: npm i
    - run: npm run build
    - run: npm run test 